.btn {
    border-radius: 25px;
    border-color: #FF0066;
    color: white;
    background-color: #FF0066;
    padding: 10px 40px;
}

.navLogin, .navSubscribe {
    float: right;
    margin-top: 18px;
    margin-right: 70px;
}

